* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  /* outline: 1px solid red; */
}

body {
}

h1 {
  text-align: center;
  font-size: 48px;
  padding: 24px;
}

h3 {
  font-size: 32px;
  padding: 16px;
}

img {
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

ul,
ol {
  color: gray;
  padding: 8px;
  width: 600px;
  margin: 16px auto;
}

ul li,
ol li {
  list-style: none;
  font-size: 24px;
  padding: 6px;
  margin: 8px 0px;
}

a {
  text-decoration: none;
  color: gray;
}

p {
  font-size: 24px;
  color: gray;
  padding: 16px;
}
